.trading-styles {
  padding: 0px 0;
  background: var(--gray);
  margin-bottom: 40px;
}

.trading-styles .section__title {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 50px;
  margin-bottom: 40px;
  color: var(--primary-dark);
}

.trading-styles__cards {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 350px;
  overflow: visible;
  margin-bottom: 20px;
}

.trading-styles__card {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 16px;
  box-shadow: 0 10px 20px var(--shadow-color);
  opacity: 0;
  transition: opacity 0.6s ease;
  padding-bottom: 20px;
}

.trading-styles__card.active {
  opacity: 1;
  position: relative;
}

.trading-styles__info {
  flex: 1;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.trading-styles__title {
  font-size: 1.4rem;
  color: var(--primary);
  margin-bottom: 8px;
}

.trading-styles__desc {
  font-size: 1rem;
  color: var(--text-dark);
  opacity: 0.8;
}

.trading-styles__image {
  flex: 2;
  overflow: hidden;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  box-sizing: border-box;
}

.trading-styles__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: contain;
}

@media (min-width: 768px) {
  .trading-styles__cards {
      height: 280px;
  }
  .trading-styles__card {
      flex-direction: row;
  }
  .trading-styles__info {
      flex: 1;
      text-align: right;
      padding: 0 24px;
  }
  .trading-styles__image {
      width: 100%;
      height: 250px;
  }
}

@media (max-width: 380px) {
  .trading-styles__image svg,
  .trading-styles__image img {
    width: 330px !important; 
    height: auto !important;
    max-width: 80vw;
    display: block;
    margin: 0 auto;
  }
  .trading-styles__image {
    height: 250px !important;
    min-height: unset !important;
    padding: 12px 0;
  }
  .trading-styles__card {
    padding-bottom: 10px;
  }
}
